.navbar-brand.logo {
  padding-top: 8px;
}
.navbar-brand.title {
  font-size: 42px;
  color: #ee9e1a;
}
.navbar-brand.title:hover {
  color: #eec616;
}
.navbar-inverse {
  background-color: #563d7c;
  color: #ee9e1a;
}
/* Custom page footer */
