@vizOrange: #EE9E1A;
@vizYellow: #EEC616;
@vizPurple: #563d7c;

.navbar-brand.logo {
	padding-top: 8px;
}

.navbar-brand.title {
	font-size: 42px;
	color: @vizOrange;
	&:hover {
		color: @vizYellow;
	}
}

.navbar-inverse {
	background-color: @vizPurple;
	background: linear-gradient(@vizPurple, black);
}

.navbar-inverse {
	& .navbar-text, .navbar-nav > li > a {
		color: @vizOrange;
	}
	& .navbar-nav > li > a:hover {
		color: @vizYellow;
		text-decoration: underline;
	}
}

/* Custom page footer */
.footer {
}
