.ui-splitbar {
  margin-top: 50px;
  background-color: #eee;
}

.vw-navbar {
  background-color: #eee;
}

.vw-panel-header-left, .vw-panel-header-right {
  border-radius: 0;
}

.vw-panel-header-right {
  padding-left: 10px;
}

.stretch {
  overflow-y: hidden;
  overflow-x: hidden;
}

.vw-data-area, .vw-viz-area {
  margin: -10px 10px 10px 10px;
}

.vw-data-accordion, .vw-viz-accordion {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.vw-viz-accordion, .vw-viz-area {
  padding-left: 10px;
}

.vw-panel {
  margin-top: 50px;
  & .panel-body {
    padding: 0;
    max-height: 133px;
    overflow-y: scroll;
  }
  & .list-group {
    margin: 0;
    & .list-group-item {
      border-radius: 0;
    }
  }
  & .panel-group .panel {
    border-radius: 0;
    border: 0;
  }
  & .panel-group .panel-heading + .panel-collapse > .panel-body {
    border: 0;
  }
}

.vw-dataset-title, .vw-viz-title {
  font-size: 20px;
  font-weight: bold;
}

.vw-dataset-description, .vw-viz-description {
  margin-top: -5px;
  color: #bbb;
}

.vw-dataset-data {
  margin-top: 10px;
}

.vw-list-item {
  padding: 3px 8px;
  .vw-list-item-title {
    font-size: 16px;
    font-weight: bold;
  }
  .vw-list-item-description {
    margin-top: -5px;
    color: #bbb;
  }
}