<div class="header" ng-include src="'/views/nav.html'"></div>
<div class="row content-area">
  <form class="form-signin">       
    <h2 class="form-signin-heading">Login</h2>
    <input type="text" class="form-control round-top" name="username" placeholder="Email Address" required="" autofocus="" />
    <input type="password" class="form-control round-bottom" name="password" placeholder="Password" required=""/>
    <label class="checkbox">
      <input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe"> Remember me
    </label>
    <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="login()">Sign me in</button>
  	<p class="other-signup-option">Don't have an account? <a ng-href="#/signup">Signup</a></p>
  </form>
</div>