<div ng-include src="'/views/nav.html'"></div>
<div class="content-area">
	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="panel-title">
				<span class="glyphicon glyphicon-stats"></span>
				&nbsp;&nbsp;my viz
				<span class="btn btn-primary add-item">
					<span class="glyphicon glyphicon-plus-sign"></span>
					&nbsp;new viz
				</span>
			</div>
		</div>
		<!-- start edit viz area -->
		<div class="panel panel-default edit-item">
			<div class="panel-heading">
				<div class="panel-title">
					&nbsp;&nbsp;viz-1
					<span class="glyphicon glyphicon-chevron-up hide-icon" title="hide"></span>
					<span class="glyphicon glyphicon-chevron-down show-icon" title="show"></span>
				</div>
			</div>
			<div class="panel-body">
				Bacon ipsum dolor sit amet salami strip steak ground round, ham beef jowl ball tip sausage shoulder doner hamburger pork belly. Ribeye jowl ball tip spare ribs capicola tail. Biltong turducken pork chop t-bone frankfurter salami pork belly. Ball tip corned beef tenderloin, frankfurter landjaeger swine pastrami meatloaf chuck. Bacon strip steak sirloin venison tri-tip. Ham hock landjaeger kevin sirloin shankle tail andouille, pork frankfurter bacon venison flank.
			</div>
		</div>
		<!-- end edit viz area -->
		<div class="panel-body">
			<div class="viz-preview" ng-repeat="v in viz">
				<div class="viz-thumbnail">
					<div class="delete-item" title="delete viz">
						<span class="glyphicon glyphicon-trash"></span>
					</div>
				</div>
				<div class="viz-title">{{ v.title }}</div>
			</div>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="panel-title">
				<span class="glyphicon glyphicon-th"></span>
				&nbsp;&nbsp;my data
				<span class="btn btn-primary add-item">
					<span class="glyphicon glyphicon-plus-sign"></span>
					&nbsp;new data
				</span>
			</div>
		</div>
		<!-- start edit data area -->
		<div class="panel panel-default edit-item">
			<div class="panel-heading">
				<div class="panel-title">
					&nbsp;&nbsp;data-1
					<span class="glyphicon glyphicon-chevron-up hide-icon" title="hide"></span>
					<span class="glyphicon glyphicon-chevron-down show-icon" title="show"></span>
				</div>
			</div>
			<div class="panel-body">
				Bacon ipsum dolor sit amet salami strip steak ground round, ham beef jowl ball tip sausage shoulder doner hamburger pork belly. Ribeye jowl ball tip spare ribs capicola tail. Biltong turducken pork chop t-bone frankfurter salami pork belly. Ball tip corned beef tenderloin, frankfurter landjaeger swine pastrami meatloaf chuck. Bacon strip steak sirloin venison tri-tip. Ham hock landjaeger kevin sirloin shankle tail andouille, pork frankfurter bacon venison flank.
			</div>
		</div>
		<!-- end edit data area -->
		<div class="panel-body">
			<div class="dataset-item" ng-repeat="ds in datasets">
				<div class="delete-item" title="delete dataset">
					<span class="glyphicon glyphicon-trash"></span>
				</div>
				<div class="dataset-title">{{ ds.title }}</div>
				<div class="dataset-description">{{ ds.description }}</div>
			</div>
		</div>
	</div>
</div>
