<div class="row content-area">
  <form class="vw-form-signin">       
    <h2 class="vw-form-signin-heading">SIGN UP</h2>
    <input type="text" class="form-control vw-round-top" name="username" placeholder="Email Address" required="" autofocus="" />
    <input type="text" class="form-control" name="displayname" placeholder="Display name" required="" />
    <input type="password" class="form-control" name="password" placeholder="Password" required=""/>
    <input type="password" class="form-control vw-round-bottom" name="password2" placeholder="Re-enter password" required=""/>
    <label class="checkbox">
      <input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe"> Remember me
    </label>
    <button class="btn btn-lg btn-primary btn-block vw-btn-primary" type="submit" ng-click="login()">CREATE ACCOUNT</button>
  	<p class="vw-other-login-option">Alread have an account? <a class="vw-link" ng-href="#/login">Login</a></p>
  </form>
</div>